.container{
  background-image: url("https://exoplanets.nasa.gov/assets/stars6.jpg");
  background-size: cover;
}

.myJumbotron{
  border: red;
  border-radius: 25px;
  border-width: 1px;
  border-style: inset;
  background-image: url("http://www.thewallpapers.org/photo/35740/sunset-in-city.jpg");
  background-size: cover;
  color:white;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  box-shadow:  0 0 3px #FF0000, 0 0 5px #0000FF;

};
.data-Load{
  border-radius: 25px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  background-color:black;
  color:black;
  border-style: dotted;
};

.data-Remove{
  border-radius: 25px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  background-color:black;
  color:black;
  border-style: double;
};}
